/* ADD YOUR STYLES HERE */

/* 6. Horizontally Spaced  */
.block-160{
	/*width: 100%;*/
}

.block-160 img{
	padding-right: 10%;
	float: left;
}

.block-160 img:last-child{
	padding-right: 0;
}

.html-element{
	margin-left: 2%;
}
.html-element>*{
	display: inline-block;
	vertical-align: top;
	margin: 2%;
}

/* 7. Vertically Spaced */
.block-50 img{
	padding-top: 10%;
	padding-bottom: 10%;

}